html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5%;
    overflow: hidden;
    background-color: black;
}

canvas#canvases {
    margin: 0;
    width: 99%;
    height: 99%;
    display: block;
}

canvas#bar {
    margin: 0;
    width: 100%;
    height: 30%; /* Keep it consistent with BAR_RATIO */
    display: block;
}

canvas#roll {
    margin: 0;
    width: 100%;
    height: 70%;
    display: block;
}

#recording {
    position: fixed;
    color: #ff2020;
    left: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    display: none;
}

#playing {
    position: fixed;
    color: #20ff20;
    left: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    display: none;
}
