html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5%;
    overflow: hidden;
    background-color: black;
}

canvas#bar {
    margin: 0;
    width: 99%;
    height: 30%;
    display: block;
}

canvas#roll {
    margin: 0;
    width: 99%;
    height: 69%;
    display: block;
}
