.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  word-break: break-word;
}
div#container {
  margin: 0 auto 0 auto;
  max-width: 60em;
  padding: 0 0 0 0;
}

html {
  /* avoid annoying page width change
  when moving from the home page */
  overflow-y: scroll;
}

select {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;

  top: -1px;
}

h1 span {
  white-space: nowrap;
}

a {
  color: #1D6EEE;
  font-weight: 300;
  text-decoration: none;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}
